$primary-color: #34547A;
$white-color: #FFFFFF;
$black-color: #000000;
$light-grey-color: #EEEFF1;
$basic-font-family: "Roboto", sans-serif;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;